/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* Reset Customization */
a {
  text-decoration: none;
}

body {
  background-color: #483a55;
  color: #f8f9f;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bg-dark-purple {
  background: #7a5993;
}

#landing {
  color: #e0dae1;
  border-bottom: solid #9a87b4 1px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(33, 37, 41, 0.52), #7a5993), url("/images/comp.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
#landing .landing-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#landing img {
  max-width: min(50%, 450px);
  margin: 5px;
  border-radius: 50%;
  border: solid 1px #9a87b4;
  box-shadow: 0 0 15px #9a87b4;
}

.modal {
  display: none;
  height: 90vh;
}

.navbar-bg {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(var(--bs-dark-purple-rgb), 0.8);
}
.navbar-bg > * {
  max-width: 1440px;
}

.grid-container {
  columns: 350px;
  max-width: 1250px;
  margin: 0 auto;
}
.grid-container > * {
  max-height: min-content;
  display: inline-block;
  margin: 10px;
}

.custom-card {
  border-radius: 15px;
  background: #fff;
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  box-shadow: 0 0 10px var(--bs-light-purple);
}
.custom-card > * > img {
  border-radius: 15px 15px 0 0;
}
.custom-card > .custom-card-body {
  display: flex;
  flex-direction: column;
  padding: 5px 5% 10px;
}
.custom-card > .custom-card-body > h5 {
  margin: 5px;
}
.custom-card > .custom-card-body > p {
  margin: 0 0 10px;
}

.custom-card:hover {
  background-color: rgba(var(--bs-dark-purple-rgb), 0.52) !important;
}

#me-picture {
  box-shadow: 0 0 15px var(--bs-light-purple);
}

.about-me {
  background-image: url("/images/space.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 95vh;
}
.about-me > * {
  max-width: 1440px;
}

@keyframes bounce {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
#downArrow {
  position: absolute;
  bottom: 3vh;
  left: 50%;
  transform: translate(-50%);
}

#downArrow > a > svg {
  animation: bounce 2s ease-in-out infinite;
}

#downArrow > a:hover {
  animation-play-state: paused;
  color: #9a87b4 !important;
}

#downArrow:hover > a > svg {
  fill: #9a87b4;
}

.nav-item > a > svg {
  fill: #e0dae1;
}

.chip {
  transition: 0.3s;
  background-color: #7a5993;
}

.chip:hover {
  background-color: #9a87b4;
}

.limiter {
  max-width: 1440px;
}

/*# sourceMappingURL=main.css.map */
