/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* Reset Customization */
a {
  text-decoration: none;
}

body {
  background-color: #483a55;
  color: #e0dae1;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bg-dark-purple {
  background: #7a5993;
}

/* Landing */
#landing {
  color: #e0dae1;
  border-bottom: solid #9a87b4 1px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(33, 37, 41, 0.52), #7a5993), url("/images/comp.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
#landing .landing-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#landing .landing-content h1 {
  font-size: 2.5em;
}
#landing .landing-content p {
  font-size: 1.1em;
}
#landing img {
  max-width: min(50%, 450px);
  margin: 5px;
  border-radius: 50%;
  border: solid 1px #9a87b4;
  box-shadow: 0 0 15px #9a87b4;
}

@keyframes bounce {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
#downArrow {
  position: absolute;
  bottom: 3vh;
  left: 50%;
  transform: translate(-50%);
}
#downArrow a {
  font-size: 1.5rem;
  color: rgb(33, 37, 41);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#downArrow a > svg {
  animation: bounce 2s ease-in-out infinite;
}
#downArrow a:hover {
  color: #9a87b4;
}
#downArrow a:hover > svg {
  fill: #9a87b4;
}

/* Nav Bar */
nav {
  position: sticky;
  z-index: 1;
  top: 0;
  min-height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  gap: 0 20px;
  border-bottom: 1px solid #9a87b4;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(122, 89, 147, 0.8);
}
@media screen and (max-width: 850px) {
  nav {
    display: grid !important;
    justify-content: space-between;
    grid-template-rows: 56px min-content;
    grid-template-areas: "name button" "content content";
  }
}
nav a {
  color: #e0dae1;
}
nav .navbar-name {
  font-size: 1.3em;
}
nav .navbar-contents {
  flex-grow: 1;
  display: flex;
  align-items: center;
  max-height: 56px;
  transition: max-height 0.75s ease, opacity 1s ease;
  overflow: hidden;
  gap: 20px;
  max-width: 1440px;
}
nav .navbar-contents > a {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
}
@media screen and (max-width: 850px) {
  nav .navbar-contents > a {
    border-left: 4px #e0dae1 solid;
    padding-left: 10px;
  }
}
nav .navbar-contents .navbar-spacer {
  font-weight: lighter;
  flex-grow: 1;
  margin-left: 10px;
  border: none;
  border-bottom: 1px #9a87b4 solid;
}
nav .navbar-contents .socialLinks {
  padding-left: 10px;
  border: none;
}
@media screen and (max-width: 850px) {
  nav .navbar-contents {
    grid-area: content;
    flex-direction: column;
    align-items: start;
  }
  nav .navbar-contents > .navbar-spacer {
    width: 100%;
  }
  nav .navbar-contents.showStackedVersion {
    margin-bottom: 10px;
    max-height: 500px;
    justify-content: center;
    opacity: 1;
  }
  @starting-style {
    nav .navbar-contents.showStackedVersion {
      opacity: 0;
      max-height: 0;
    }
  }
}
nav .navbar-collapse {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 850px) {
  nav .navbar-collapse {
    max-height: 0;
    opacity: 0;
    align-items: start;
  }
}
nav .navbar-collapse svg {
  fill: #e0dae1;
}
nav .resumeModalButton {
  color: rgb(33, 37, 41);
  background-color: #e0dae1;
  border: solid 1px #7a5993;
  border-radius: 0.375rem;
  padding: 6px 12px;
  cursor: pointer;
}
nav .collapseButton {
  border: 2px solid rgba(33, 37, 41, 0.2);
  background-color: transparent;
  border-radius: 15px;
  padding: 5px 10px;
  transition: background-color 0.35s;
}
nav .collapseButton:hover {
  background-color: #9a87b4;
}

.showWhenCollapseSizeMedium {
  display: none;
}
@media screen and (max-width: 850px) {
  .showWhenCollapseSizeMedium {
    display: inline;
  }
}

.showWhenNotCollapseSizeMedium {
  display: inherit;
}
@media screen and (max-width: 850px) {
  .showWhenNotCollapseSizeMedium {
    display: none;
  }
}

.space-background {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 450px) {
  .space-background {
    background-image: url("/images/space.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 95vh;
  }
}

.about-me-content {
  max-width: 1440px;
  padding: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 850px) {
  .about-me-content {
    display: flex;
    flex-direction: column;
  }
}
.about-me-content > * {
  border-radius: 15px;
  border: 1px solid #9a87b4;
}
.about-me-content .content-box {
  padding: 15px;
}
.about-me-content .content-box:first-of-type {
  background: #7a5993;
}
@media screen and (min-width: 1440px) {
  .about-me-content .content-img {
    grid-row: span 3;
  }
}

.chip-container h3 {
  margin: -16px -16px 0 -16px;
  padding: 10px;
  background: #7a5993;
  border: 1px solid #9a87b4;
  border-radius: 15px 15px 0 0;
}
.chip-container ul {
  padding: 1rem 0 0;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.chip-container li {
  background-color: rgba(122, 89, 147, 0.95);
  list-style: none;
  padding: 0.5rem 1rem;
  border-radius: 50rem;
  transition: 0.3s;
  border: 1px solid #9a87b4;
}
.chip-container li:hover {
  background-color: #9a87b4;
}

#my-work, #other {
  width: 100%;
  background: #7a5993;
  border-bottom: 1px solid #9a87b4;
  border-top: 1px solid #9a87b4;
  display: flex;
  justify-content: center;
  align-items: center;
}
#my-work h2, #other h2 {
  padding-left: 20px;
  width: 100%;
  max-width: min(100vw, 1440px);
}

.work-container {
  padding: 20px;
  max-width: min(1440px, 100vw);
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.work-container h3 {
  grid-column: 1/-1;
  padding-top: 0.5rem;
  margin-bottom: -0.5rem;
}
.work-container .card {
  background: #7a5993;
  border-radius: 15px;
  border: solid 1px #9a87b4;
  display: flex;
  flex-direction: column;
}
.work-container .card .card-body {
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.work-container .card .card-body p {
  flex-grow: 1;
}
.work-container .card .card-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.work-container .card .card-buttons a {
  position: relative;
  color: rgb(33, 37, 41);
  background-color: #e0dae1;
  border: solid 2px #7a5993;
  border-radius: 1rem;
  padding: 6px 12px;
  cursor: pointer;
}
.work-container .card .card-buttons a.play-button {
  color: rgb(33, 37, 41);
  background-color: #f5d18d;
}
.work-container .card .card-buttons a.play-button:hover {
  background: rgba(245, 209, 141, 0.9);
}
.work-container .card .card-buttons a.other-button {
  background-color: #e0dae1;
}
.work-container .card .card-buttons a.other-button:hover {
  background: rgba(224, 218, 225, 0.8);
}
.work-container .card img {
  border-radius: 15px 15px 0 0;
  border-bottom: solid 1px #9a87b4;
}
.work-container .card.header-card {
  grid-column: 1/-1;
}
.work-container .card.header-card img {
  border-bottom: solid 1px #9a87b4;
}
@media screen and (min-width: 850px) {
  .work-container .card.header-card {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  .work-container .card.header-card img {
    border-bottom: none;
  }
}

.card-hover {
  position: relative;
  transition: background-color 0.5s ease-in-out, transform 0.27s ease-in-out;
  transform: scale(0.98);
}
.card-hover:hover {
  transform: scale(1);
}
.card-hover:hover:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  mix-blend-mode: lighten;
  pointer-events: none;
  background-color: rgba(154, 135, 180, 0.15);
  transition: background-color 0.2s ease-in-out;
}
@starting-style {
  .card-hover:hover:before {
    background-color: rgba(154, 135, 180, 0);
  }
}

footer {
  text-align: center;
  border-top: solid 1px #9a87b4;
}

.modal {
  display: none;
  height: 90vh;
}

/*# sourceMappingURL=main.css.map */
