//Import needed parts
@import "reset";

//create custom styles
$title: #d90556;
$blue: #3F8EFC;
$background: #483a55;
$offwhite: #e0dae1;
$light-purple: #9a87b4;
$dark-purple: #7a5993;
$yellow: #f5d18d;

//Bootstrapish colors
$light: #f8f9f;
$dark: rgb(33, 37, 41);

$custom-colors: (
        "title": $title,
        "blue": $blue,
        "background": $background,
        "offwhite": $offwhite,
        "light-purple": $light-purple,
        "dark-purple": $dark-purple,
        "yellow": $yellow,
  //Bootstrapish colors
        "dark": $dark,
        "light": $light,
);

// ########## De-Bootstrapping ##########
body {
  background-color: $background;
  color: $light;

  display: flex;
  flex-direction: column;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bg-dark-purple {
  background: $dark-purple;
}

#landing {
  color: $offwhite;
  border-bottom: solid $light-purple 1px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(to bottom, rgba($dark, 0.52), $dark-purple), url("/images/comp.webp");

  background-size: cover;
  background-repeat: no-repeat;

  .landing-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    h1 {
      font-size: 2.5em;
    }
    p {
      font-size: 1.1em;
    }
  }

  img {
    max-width: min(50%, 450px);

    margin: 5px;

    border-radius: 50%;
    border: solid 1px $light-purple;
    box-shadow: 0 0 15px $light-purple;
  }
}

@keyframes bounce {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

#downArrow {
  position: absolute;
  bottom: 3vh;
  left: 50%;
  transform: translate(-50%);

  a {
    font-size: 1.5rem;
    color: $dark;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

// ########## Old styles ##########
.modal {
  display: none; //Remove modal for now
  height: 90vh;
}

.navbar-bg {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(var(--bs-dark-purple-rgb), 0.8);

  > * {
    max-width: 1440px;
  }
}

.grid-container {
  columns: 350px;
  max-width: 1250px;
  margin: 0 auto;

  > * {
    max-height: min-content;
    display: inline-block;
    margin: 10px;
  }
}

.custom-card {
  border-radius: 15px;
  background: #fff;
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
  0.3s box-shadow,
  0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  //cursor: default;
  box-shadow: 0 0 10px var(--bs-light-purple);

  > * > img {
    border-radius: 15px 15px 0 0;
  }

  > .custom-card-body {
    display: flex;
    flex-direction: column;
    padding: 5px 5% 10px;

    > h5 {
      margin: 5px;
    }

    > p {
      margin: 0 0 10px;
    }
  }
}

.custom-card:hover {
  background-color: rgba(var(--bs-dark-purple-rgb), 0.52) !important;
}

#me-picture {
  box-shadow: 0 0 15px var(--bs-light-purple);
}

#landing {

}

.about-me {
  background-image: url("/images/space.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 95vh;

  > * {
    max-width: 1440px;
  }
}

#hatPic {
  //box-shadow: 0 0 10px var(--bs-light-purple);
}

#downArrow > a > svg {
  animation: bounce 2s ease-in-out infinite;
}

#downArrow > a:hover {
  animation-play-state: paused;
  color: map-get($custom-colors, "light-purple") !important;
}

#downArrow:hover > a > svg {
  fill: map-get($custom-colors, "light-purple");
}

.nav-item > a > svg {
  fill: #e0dae1;
}

.chip {
  transition: 0.3s;
  background-color: map-get($custom-colors, 'dark-purple');
}

.chip:hover {
  background-color: map-get($custom-colors, 'light-purple');
}

.limiter {
  max-width: 1440px;
}